.tab-options{
    box-shadow: var(--border-white) 0px -0.5px 0px inset;
}
.options-wrapper{
    display: flex;
}
.tab-items{
    margin-right: 24px;
    padding: 12px 12px 20px 12px;
    border-bottom: 2px solid transparent;
}
.tab-image-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--inactive-color);
}
.tab-image{
    width: 30px;
    height: 30px;
}
.tab-name{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--inactive-text);
}
.active-tab{
    border-bottom: 2px solid var(--zomato-red);
    transition: all 0.2s ease-in-out;
}
.active-tab .tab-name{
    color:var(--zomato-red);
}