.max-width{
    max-width: 1100px;
    margin: 0px auto;
}
.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.collections-title{
    color: var(--heading-text);
    font-size: 30px;
    margin-bottom: 32px;
    font-weight: 600;
}
.slick-next:before{
    color: var(--zomato-gray);
}
.slick-prev:before{
    color: var(--zomato-gray);
}